h1.title-users {
    padding: 2rem; 
    text-align: center;
    color: #FFC633;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

div {
    padding-bottom: 2rem;
}

div.message {
    margin-top: 5rem; 
}

div.message p {
    background-color: #F0BE3E;
    padding: 0.5rem 1rem; 
    border: 1px solid transparent; 
    border-radius: 10px;
}