div.propriety {
    width: 100%;
    height: 698px;
    word-wrap: break-word;
    background-color: #DADADA;
    margin: 0%;
} 
div.row {
    margin-right: 0px;
    margin-left: 0px;
}
p.title-div {
    color: darkgoldenrod;
    text-align: center;
}
h4.title-chats {
    color: #f1bb31;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
div.message {
    width: 50%;
    margin: 1%;
    padding: 2%;
}
div.boxintest {
    height: 12%;
    padding-left: 1%;
    padding-top: 1%;
}
div.boxuser {
    padding-left: 1%;
    height: 11%;
    overflow-x: hidden;
}
div.boxmessage {
    overflow-x: hidden;
    width: 100%;
    height: 70%;
}
div.div-footer {
    width: 100%;
    height: 0;
    position: relative;
    margin: 0;
    bottom: 0;
    padding: 1%; 
}