<!--<div (eventEmitter) = onChatReceived($event)>-->
<div class="propriety">
    <div class="row">
        <div class="intern col-md-12 offset-md-1 border border-warning bg-light text-dark">
                <h1 class="title-chats">{{ chat.name }} </h1>    
        </div>
        <div class="intern col-md-12 offset-md-1 border border-warning bg-light text-dark">
                <p class="text-warning">Description</p>
                <span class="text-secondary">{{ chat.description }}</span>
        </div>
        <div class="intern col-md-12 offset-md-1 border border-warning bg-light text-dark">
                <p class="text-warning">Users</p>
                <span class="text-secondary">{{ chat.users }}</span>
        </div>
        <div class="intern col-md-12 offset-md-1 border border-warning bg-light text-dark">
                <p class="text-warning">Messages</p>
                <span class="text-secondary" *ngFor="let message of chat.messages">✉️<br>{{ message.sender }}<br> {{ message.date }} <br> {{ message.body }}<br></span>
        </div>
    </div>
    
</div>

