div.propriety {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/2d9dd173426833.5c08f5634ff45.png);
    width: 100%;
    height: 659px;
    word-wrap: break-word;
    margin: 0%;
} 
div.row {
    margin-right: 0px;
    margin-left: 0px;
}
p.title-div {
    color: darkgoldenrod;
    text-align: center;
}
h4.title-chats {
    color: #FFC105;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
div.message {
    width: 50%;
    margin: 1%;
    padding: 2%;
    background-color: #FFC105;
}
div.boxintest {
    height: 12%;
    padding-left: 1%;
    padding-top: 1%;
}
div.boxuser {
    padding-left: 1%;
    height: 4%;
    overflow-x: hidden;
}
div.boxmessage {
    overflow-x: hidden;
    width: 100%;
    height: 76%;
}
div.div-footer {
    width: 100%;
    height: 0;
    position: relative;
    margin: 0;
    bottom: 0;
    padding: 1%; 
}