<div class="container">
    <h1 class="display-4 text-center" style="color: #FFC633; margin-top: 1rem">🐝STEVYGRAM</h1>
  <div class="row" style=" margin-top: 1rem">
    <div class="col text-center">
        <h3 style="color: #FFC633">LOGIN</h3>
        <div style="margin-top: 1rem" class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">🌼</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
             </div>
             <div style="margin-top: 1rem" class="input-group flex-nowrap">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">❓</span>
                </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
              </div>
              <div style="margin-top: 1rem" class="text-center">
              <a class="btn btn-warning" href="#" role="button">LOGIN</a>
              </div>
    </div>
    <div style="margin-top: 1rem" class="col text-center">
      <h5 style="color: #FFC633">OR</h5>
    </div>
    <div class="col text-center">
        <h3 style="color: #FFC633">REGISTER</h3>
        <div style="margin-top: 1rem" class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">🌼</span>
            </div>
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="addon-wrapping">
        </div>
        <div style="margin-top: 1rem" class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">🌼</span>
            </div>
            <input type="text" class="form-control" placeholder="Surname" aria-label="Surname" aria-describedby="addon-wrapping">
        </div>
        <div style="margin-top: 1rem" class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">🌼</span>
            </div>
            <input type="text" class="form-control" placeholder="Nickname" aria-label="Nickname" aria-describedby="addon-wrapping">
        </div>
        <div style="margin-top: 1rem" class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">🌼</span>
            </div>
            <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="addon-wrapping">
        </div>
        <div style="margin-top: 1rem" class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">❓</span>
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
          </div>
        <div style="margin-top: 1rem" class="text-center">
            <a  class="btn btn-warning" href="#" role="button">REGISTER</a>
        </div>
    </div>
  </div>

  </div>