h1.title-chats {
    padding: 2rem; 
    text-align: center;
    color: #FFC633;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }


div.blocco {
    width: 60%;
    height: 700px;
    margin:1%;
    background-color: #FFFFFF;
    border: #0070B6 1px solid; 
}
