h1.title-chats {
    padding: 2rem; 
    text-align: center;
    color: #FFC633;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }


div.blocco {
    width: 60%;
    height: 660px;
    margin:1%;
    border: #0070B6 1px solid; 
}
li.newchat {
    background-color: #6C757C;
}
li.newchat:hover {
    background-color: #FFC633;
}
button.newChat:hover {
    background-color: #FFC633;
    color: #6C757C;
    text-shadow: #0070B6;
}
