<div class="chat-box bg-light rounded border text-white mx-auto">
    <div class="row">
        <div class="col-3">
            <button class="btn newChat btn-secondary col-12 mt-0 mb-0" routerLink="/chats/new-chat">🐝 New
                Chat</button>
            <ul class="list-group">
                <li class="list-group-item bg-light border-right-0 border-left-0 border-top-0 text-dark"
                    *ngFor='let chat of chats'>
                    <a class="text-dark" routerLink="{{chat.id}}">
                        <b> 📨 {{ chat.name }} </b>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-9 pl-0">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>