<h1 class="title-users">🤓PHONEBOOK</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <button class="btn btn-secondary col-12 mt-1 mb-1" (click)="redirectToAddContact()">➕ Inserisci un nuovo
            contatto</button>
        <ul class="list-group ">
            <li class="list-group-item border border-warning bg-light text-dark" *ngIf='users.length === 0'>
                <p class="text-secondary text-center">
                    Aggiungi nuovi amici per iniziare ad usare Stevygram!
                </p>
            </li>
            <li class="list-group-item border border-warning bg-light text-dark" *ngFor='let user of users'>
                <p class="text-secondary">
                    🤓<b> {{ user.nickname }} </b> {{ user.phone }}
                    <br>
                    {{ user.name }} {{ user.surname }}
                </p>
                <button class="btn btn-danger" (click)="removeContact(user.phone)">✖️</button>
            </li>
        </ul>
    </div>
</div>